ui/examples/creating and deleting elements.json
[
    {
        "id": "a427e405585396c6",
        "type": "inject",
        "z": "f624e6564f974a57",
        "name": "Add ellipse element",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"command\":\"add_element\",\"type\":\"ellipse\",\"id\":\"my_ellipse\",\"attributes\":{\"cx\":\"150\",\"cy\":\"80\",\"rx\":\"80\",\"ry\":\"30\"},\"style\":{\"fill\":\"purple\"}}]",
        "payloadType": "json",
        "x": 650,
        "y": 1000,
        "wires": [
            [
                "161b32aa00786062"
            ]
        ]
    },
    {
        "id": "161b32aa00786062",
        "type": "ui-svg",
        "z": "f624e6564f974a57",
        "name": "",
        "group": "65805ec358e05ea4",
        "width": 0,
        "height": 0,
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "8d5a58596448f729"
            ]
        ]
    },
    {
        "id": "8d5a58596448f729",
        "type": "debug",
        "z": "f624e6564f974a57",
        "name": "Text content",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a658a67c3e0317e3",
        "type": "inject",
        "z": "f624e6564f974a57",
        "name": "Remove ellipse element",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"command\":\"remove_element\",\"selector\":\"#my_ellipse\"}]",
        "payloadType": "json",
        "x": 640,
        "y": 1040,
        "wires": [
            [
                "161b32aa00786062"
            ]
        ]
    },
    {
        "id": "65805ec358e05ea4",
        "type": "ui-group",
        "name": "SVG demos",
        "page": "0a90f52e8742b298",
        "width": "10",
        "height": "10",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0a90f52e8742b298",
        "type": "ui-page",
        "name": "SVG",
        "ui": "be29745a6e568f30",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "092547d34959327c",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "be29745a6e568f30",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false
    },
    {
        "id": "092547d34959327c",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    }
]
