examples/animations.json
[
    {
        "id": "0d7d24945df614d0",
        "type": "ui-svg",
        "z": "f624e6564f974a57",
        "name": "",
        "group": "65805ec358e05ea4",
        "width": 0,
        "height": 0,
        "order": 10,
        "x": 1630,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d0d1abca15a1507b",
        "type": "inject",
        "z": "f624e6564f974a57",
        "name": "Add circle element",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"command\":\"add_element\",\"type\":\"circle\",\"id\":\"my_circle\",\"attributes\":{\"cx\":\"150\",\"cy\":\"50\",\"r\":\"40\"},\"style\":{\"fill\":\"orange\"}}]",
        "payloadType": "json",
        "x": 1430,
        "y": 300,
        "wires": [
            [
                "0d7d24945df614d0"
            ]
        ]
    },
    {
        "id": "540b53eb5af5665a",
        "type": "inject",
        "z": "f624e6564f974a57",
        "name": "Add animation to circle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"command\":\"add_element\",\"type\":\"animate\",\"id\":\"my_animation\",\"parentSelector\":\"#my_circle\",\"attributes\":{\"attributeName\":\"r\",\"from\":\"40\",\"to\":\"10\",\"dur\":\"3s\",\"repeatCount\":\"indefinite\"}}]",
        "payloadType": "json",
        "x": 1420,
        "y": 340,
        "wires": [
            [
                "0d7d24945df614d0"
            ]
        ]
    },
    {
        "id": "2ff1ec361b2e13a2",
        "type": "inject",
        "z": "f624e6564f974a57",
        "name": "Stop animation",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"command\":\"stop_animation\",\"selector\":\"#my_animation\"}]",
        "payloadType": "json",
        "x": 1440,
        "y": 420,
        "wires": [
            [
                "0d7d24945df614d0"
            ]
        ]
    },
    {
        "id": "2e7f60fbe4604ef6",
        "type": "inject",
        "z": "f624e6564f974a57",
        "name": "Start animation",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"command\":\"start_animation\",\"selector\":\"#my_animation\"}]",
        "payloadType": "json",
        "x": 1440,
        "y": 460,
        "wires": [
            [
                "0d7d24945df614d0"
            ]
        ]
    },
    {
        "id": "5f5f6d354baddd71",
        "type": "inject",
        "z": "f624e6564f974a57",
        "name": "Remove animation from circle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"command\":\"remove_element\",\"selector\":\"#my_animation\"}]",
        "payloadType": "json",
        "x": 1400,
        "y": 380,
        "wires": [
            [
                "0d7d24945df614d0"
            ]
        ]
    },
    {
        "id": "65805ec358e05ea4",
        "type": "ui-group",
        "name": "SVG demos",
        "page": "0a90f52e8742b298",
        "width": "10",
        "height": "10",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0a90f52e8742b298",
        "type": "ui-page",
        "name": "SVG",
        "ui": "be29745a6e568f30",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "092547d34959327c",
        "order": 8,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "be29745a6e568f30",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-chart",
            "ui-text-input",
            "ui-dropdown"
        ],
        "showPathInSidebar": false,
        "titleBarStyle": "default"
    },
    {
        "id": "092547d34959327c",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    }
]
